model filter=lfs diff=lfs merge=lfs -text
memo.txt filter=lfs diff=lfs merge=lfs -text
register_service filter=lfs diff=lfs merge=lfs -text
SetImageToDB.py filter=lfs diff=lfs merge=lfs -text
app.py filter=lfs diff=lfs merge=lfs -text
drape_img_str.txt filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
modules filter=lfs diff=lfs merge=lfs -text
sql filter=lfs diff=lfs merge=lfs -text
templates filter=lfs diff=lfs merge=lfs -text
uwsgi.log filter=lfs diff=lfs merge=lfs -text
uwsgi.pid filter=lfs diff=lfs merge=lfs -text
wsgi.py filter=lfs diff=lfs merge=lfs -text
fabric_db_211206.sql filter=lfs diff=lfs merge=lfs -text
imagenet_class_index.json filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
tasks.py filter=lfs diff=lfs merge=lfs -text
hello.py filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
slackbot.py filter=lfs diff=lfs merge=lfs -text
static filter=lfs diff=lfs merge=lfs -text
tasks_app.py filter=lfs diff=lfs merge=lfs -text
